@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Sancreek&family=Vollkorn+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
}
body{
    background:   #82CBFF ;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background: #D7E3FC;
    border-radius: 30px;
    background-color: #D7E3FC;
    width: 700px;
    height: 654px;
    margin-left: 23rem;
}
.container form{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.container form>p{
    display: flex;
    justify-content: center;
    font-family: "Vollkorn SC";
    font-size: 48px;
    line-height: 28px;
}
.container form>p.w{
    display: flex;
    font-family: "Sancreek";
    font-size: 20px;
    justify-content: center;
}
.container form .content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 450px;
    gap: 10px;
    margin-top: 2rem;   
}
.container form .rem{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container form .content>label{
    font-size: 20px;
    color: #0031AD;
    font-weight: 700;
}
.container form .content>input{
    border:#E8ECFB;
    font-size: 14px;
    background: #E8ECFB;
    padding: 2px 20px;
    width: 601px;
    height: 57px;
    font-weight: 500;
    margin-left: 2px;
    
}
.container form .rem{
    font-size: 20px;
    margin-left: 3px;
}
.container form>input{
    margin-top: 1.3rem;
    border: 2px solid #27DA7A;
    background-color:  #27DA7A;
    height: 57px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 57px;
    color:  #E8ECFB;
    cursor: pointer;
}
.container form>input:hover{
    background-color: white;
    color: #27DA7A;
    transition: background-color 0.3s ease;
    border-color: white;
}
.container form>a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #085AFB;
    background-color: #085AFB;
    margin-top: 1.3rem;
    height: 57px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 57px;
    color: #E8ECFB;
}
.container form>a:hover{
    background-color: white;
    color: #085AFB;
    transition: background-color 0.3s ease;
    border-color: white;
}

.container form .content button{
    position: absolute;
    top: 65%;
    right: 0.1rem;
    background-color: none;
    border: none;
    cursor: pointer;
}
.container form .content button>i{
    font-size: 1.5rem;
}


